body {
    height: 974px;
    position: relative;
    margin: 0;
}
.wrapper {
    width: 800px;
    height: 600px;
    position: relative;
    background-image: url(img/background.png);
    margin: auto;
    top: 187px;
}
.widget {
    width: 615px;
    height: 410px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -205px 0 0 -307px;

}
.cubes {
    width: 205px;
    height: 205px;
    float: left;
    font-size: 12pt;
    color: white;
    font-family: 'Avenir Next Bold', 'Montserrat Semi Bold',sans-serif;
    font-weight: bold;
    text-align: center;
    overflow: hidden;
}
i {
    width: 90px;
    height: 80px;
}
.cubes:nth-child(1) {
    background-color: rgb(0, 192, 226);
}
.cubes:nth-child(2) {
    background-color: rgb(91, 217, 152);
}
.cubes:nth-child(3) {
    background-color: rgb(117, 88, 248);
}
.cubes:nth-child(4) {
    background-color: rgb(233, 193, 77);
}
.cubes:nth-child(5) {
    background-color: rgb(229, 86, 121);
}
.cubes:nth-child(6) {
    background-color: rgb(203, 112, 214);
}
.weekForecast {
    width: 205px;
    height: 100px;
    position: absolute;
    top: 310px;
    background-color: rgb(203, 76, 108);
    background: -moz-radial-gradient(center, ellipse cover, rgba(155,59,75,0) 1%, rgba(156,60,79,0) 27%, rgba(160,61,89,0.65) 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(155,59,75,0) 1%,rgba(156,60,79,0) 27%,rgba(160,61,89,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, rgba(155,59,75,0) 1%,rgba(156,60,79,0) 27%,rgba(160,61,89,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009b3b4b', endColorstr='#a6a03d59',GradientType=1 );
}
.cubes>p {
    position: absolute;
    width: 205px;
}
.topRow>i {
    position: absolute;
    margin-top: 47px;
    margin-left: -40px;
}
.topRow>p{
    margin-top: 147px;
}
.bottomRow>p {
    margin-top: 152px;
}
.bottomRow>i {
    position: absolute;
    margin-top: 40px;
    margin-left: -40px;
}
.weekForecast {
    position: absolute;
    width: 205px;
    height: 100px;
    bottom: 0px;
    background-color: rgb(203, 76, 108);
}

.weekForecast ul{
    position: relative;
    padding: 7px 0px;
    margin: 0px 20px;
    width: 80%;
    list-style-type: none;
    font-size: 0;
}

.weekForecast li {
    width: 25%;
    font-size: 9pt;
    display: inline-block;
    position: relative;
}
.weekForecast li i {
    margin-top: -2px;
}
.weekForecast li i~p {
    margin-top: 3px;
}
#currentWeather i {
    display: inline-block;
    position: relative;
    top: 25px;
    width: 63px;
    height: 66px;
}
.iconCloud {
    background-image: url(icons/Cloud.png);
}
.iconFog {
    background-image: url(icons/fog.png);
}
.iconGusty {
    background-image: url(icons/gusty.png);
}
.iconPatchySnow {
    background-image: url(icons/patchySnow.png);
}
.iconRainy {
    background-image: url(icons/rainy.png);
}
.iconSunnySpells {
    background-image: url(icons/sunnySpells.png);
}
.iconMini {
    display: inline-block;
    background-size: cover;
    width: 25px;
    height: 22px;
}