.wrapper {
    width: 800px;
    height: 600px;
    background-image: url(img/background.png);
    /*background-image: url(templates/Cubes.png);*/
}
.widget {
    width: 615px;
    height: 410px;
    position: relative;
    top: 95px;
    left: 92px;
    font-size: 0;
}
.cubes {
    width: 205px;
    height: 205px;
    position: relative;
    font-size: 12pt;
    color: white;
    font-family: 'Avenir Next Bold', 'Montserrat Semi Bold',sans-serif;
    font-weight: bold;
    text-align: center;
    overflow: hidden;
}
.cubes:nth-child(1) {
    background-color: rgb(0, 192, 226);
}
.cubes:nth-child(2) {
    background-color: rgb(91, 217, 152);
}
.cubes:nth-child(3) {
    background-color: rgb(117, 88, 248);
}
.cubes:nth-child(4) {
    background-color: rgb(233, 193, 77);
}
.cubes:nth-child(5) {
    background-color: rgb(229, 86, 121);
}
.cubes:nth-child(6) {
    background-color: rgb(203, 112, 214);
}
.weekForecast {
    background-color: rgb(203, 76, 108);
}
.cubes>p {
    position: absolute;
    margin-top: 150px;
    display: inline-block;
    margin: 0;
    padding: 0;
}
.cubes>img {
    position: absolute;
    margin-top: 47px;
    padding: 0;
}
